@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans&display=swap');


body {
    font-family: 'Encode Sans', sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.navbar-brand {
    font-family: 'Bungee Shade', cursive;
    font-size: 3rem;
}

.navbar-brand:hover {
    text-decoration: none;
}

.navbar-toggler {
    border-style: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.nav-link:hover {
    text-decoration: none;
}

footer {
    text-align: center;
}

.btn {
    box-shadow: -5px 5px 0px #212529;
}

.btn:hover {
    box-shadow: 5px 5px 0px #212529;
}

.accordion {
    --bs-accordion-bg: transparent;
    --bs-accordion-active-bg: transparent;
    --bs-accordion-active-color: black;
    --bs-accordion-btn-focus-box-shadow: none;

}

.accordion-button:not(.collapsed) {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-icon);
}