<header class="border-bottom">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid d-md-flex justify-content-between">
                    <div class="invisible">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div>
                        <a href="/"><img src="/images/lm-logo-light.png" class="navbar-brand p-0 m-0 text-center" width="84" height="63"></img></a>
                    </div>
                    <!--Navbar toggler-->
                    <div>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMenu" aria-controls="navbarMenu" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
                        <div class="navbar-nav">
                            {% for item in site.data.pages %}
                            <a class="nav-link {% if item.url == page.url %}active{% endif %}" {% if item.url == page.url %}aria-current="page"{% endif %} href="{{ item.url }}">{{ item.name }}</a>
                            {% if item.name != "IAQ" %}
                                <hr class="m-0">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
