<header class="border-bottom">
            <nav class="navbar navbar-expand-md">
                <div class="container-fluid d-md-flex justify-content-between">
                    <div>
                        <a href="/"><img src="/images/lm-logo.png" class="navbar-brand p-0 m-0 text-center" width="84" height="63"></img></a>
                    </div>
                    <!--Navbar mobile-->
                    <div id="navbtn">
                        <input type="checkbox" id="navbar-lm">
                        <label class="navtoggle" for="navbar-lm">
                            <span class="bar top"></span>
                            <span class="bar middle"></span>
                            <span class="bar bottom"></span>
                        </label>
                        <div class="d-md-flex mtoggle" id="navbarMenuAlt">
                                <div class="navbar-nav">
                                    {% for item in site.data.pages %}
                                    <a class="nav-link {% if item.url == page.url %}active{% endif %}" {% if item.url == page.url %}aria-current="page"{% endif %} href="{{ item.url }}">{{ item.name }}</a>
                                    {% if item.name != "IAQ" %}
                                        <hr class="m-0">
                                    {% endif %}
                                    {% endfor %}
                                </div>
                        </div>
                    </div>
                    <!--Navbar widescreen-->
                    <div class="collapse navbar-collapse justify-content-end" id="navbarMenu">
                        <div class="navbar-nav">
                            {% for item in site.data.pages %}
                            <a class="nav-link {% if item.url == page.url %}active{% endif %}" {% if item.url == page.url %}aria-current="page"{% endif %} href="{{ item.url }}">{{ item.name }}</a>
                            {% if item.name != "IAQ" %}
                                <hr class="m-0">
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </nav>
        </header>
