<!DOCTYPE html>

<html lang="en">
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        {{ page.links }}
        <link href="/css/styles.css" rel="stylesheet">
        <link href="/css/navlm.css" rel="stylesheet">
        {{ page.script }}

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title }}</title>

        <link rel="icon" type="image/x-icon" href="/favicon.ico">
        <meta http-equiv="Onion-Location" content="http://magro27vxhb5cda7t3jabyaihlfcux4batdxnib7qdbsrm6667unatid.onion">
    </head>
    <body class="col-lg-8 mx-auto">
        <!--Navbar-->
        {% include navbar.html %}

        <main class="container-fluid mt-3 py-5">
            {{ content }}
        </main>

        {% include footer.html %}
    </body>
</html>
